body {
    background-color: #404a42;
    font-family: helvetica;
    text-align: center;
}

div {
    border: 5px solid #5E6963;
    display: inline-block;
}

img {
    border-radius: 50%;
    border: 10px solid #404a42;
}

.inspiration {
    background-color: #A7AB8B;
    height: 770px;
    width: 700px;
    display: inline-block;
}

.palette {
    background-color: antiquewhite;
}

#title {
    font-size: 45px;
    background-color: #5E6963;
    color: #737B70;
    margin: auto;
    padding: 20px;
}

.dot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
}

.dot.one {
    background-color: #404A42;
}

.dot.two {
    background-color: #5E6963;
}

.dot.three {
    background-color: #737B70;
}

.dot.four {
    background-color: #6C6A5E;
}

.dot.five {
    background-color: #A7AB8B;
}

#square {
    height: 100px;
    width: 100px;
    background-color: #5E6963;
    display: inline-block;

}