@font-face {
    font-family: 'Parlour Sans Regular';
    src: url('../fonts/ParlourSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'The Crow Grunge';
    src: url('../fonts/TheCrowGrunge.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Crow Inline';
    src: url('../fonts/TheCrowInline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Crow Regular';
    src: url('../fonts/TheCrowRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Burford Rustic InlineLight';
    src: url('../fonts/Burford_Rustic-InlineLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Burford Rustic Book Bold';
    src: url('../fonts/Burford_Rustic-Book-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bartolomew Printed';
    src: url('../fonts/Bartolomew\ Printed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CornerOne Bold-Regular';
    src: url('../fonts/CornerOne-Bold-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CornerOne Regular';
    src: url('../fonts/CornerOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}