* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 3px solid;
    border-color: bisque;
    margin: 3px;
    overflow: overlay;
}


.row::after {
        content: "";
        clear: both;
        display: table;
}

@media only screen and (min-width: 768px) {
    .col-1 {width:10%}
    .col-2 {width: 30%}
    .col-3 {width: 45%}
    .col-4 {width: 45%}

    div > img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* for mobile phones */
    [class*="col-"] {
        width: 100%;
    }
    div> img {
        max-width: 100%;
    }

    h1 {
        font-size: 45px;
        text-align: center;
    }

    p {
        font-size: 24px;
    }

    .menu-item {
        text-align: center;
        font-size: 22px;
    }
}

img {
    border-radius: 65%;
    opacity: 100%;
    transition: 200ms ease-in-out;
}


img:hover {
    opacity: 45%;
    transition: 200ms ease-in-out;
    filter: blur(0.5px);
}

body {
    background-image: white;
    font-family: 'Parlour Sans Regular';
}

/* Dropdown Menu */
.display-block {
    display: block;

}

.menu-item {
    font-size: 22px;
    font-family: 'The Crow Grunge';
    text-align: center;
}

.menu-item:hover {
    background-color: black;
    color: white;
}

.header001 {
    
    width: 100%;
    height: 200px;
    display: block;
    background-image: url("../images/Paper-1.jpg");
    background-size: cover;
    padding: 5px;
    margin-top: 0em;
}

h1 {
    font-size: 45pt;
    font-family: 'The Crow Regular';
    color: darkblue;
    text-align: center;
}

.storytext001 {
    display: block;
    margin: 10px;
    padding: 15px;
    border: 3px;
    border-radius: 45%;
}
